<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LLXC Web</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="static/bootstrap.css" rel="stylesheet">
    <link href="static/llxc.css" rel="stylesheet">
    <script src="static/js//jquery.min.js"></script>
    <script src="static/js/bootstrap-dropdown.js"></script>
    <script src="static/js/bootstrap-twipsy.js"></script>
    <script src="static/js/bootstrap-scrollspy.js"></script>
    <script src="static/js/application.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/favicon.ico">
  </head>

  <body>

    <!-- Topbar-->
    <div class="topbar" data-scrollspy="scrollspy" >
      <div class="topbar-inner">
        <div class="container">
          <a class="brand" href="/"><img src="static/images/llxc.png" /></a>
          {% if session.logged_in %}
          <ul class="nav">
            <li><a href="list">List</a></li>
            <li><a href="create">Create</a></li>
            <li><a href="admin">Admin</a></li>
          </ul>
          {% endif %}

         {% if not session.logged_in %}
         {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
           <form action="{{ url_for('login') }}" method=post>
           <dl>
           <dt>User <input type=text name=username> Password <input type=password name=password>
             <input type=submit value=Login>
           </dl>
           </form>
         {% else %}
           <a href="{{ url_for('logout') }}">log out</a>
         {% endif %}

        </div>
      </div>
    </div>

    <!-- Masthead (blueprinty thing) -->
    {% if not session.logged_in %}
    <header class="jumbotron masthead" id="overview">
      <div class="inner">
        <div class="container">
          <h1>LLXC Container Management</h1>
          <p class="lead">
	  A web interface for Linux containers.. 
          </p>
        </div><!-- /container -->
      </div>
     {% endif %}
    </header>

<div class="container">

<div class=metanav>
{% for message in get_flashed_messages() %}
  <div class=flash>{{ message }}</div>
{% endfor %}

{% if session.logged_in %}
  {% block body %}
  {% endblock %}
{% endif %}

</div> <!-- end container -->

    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
           © Copyright 2012 Jonathan Carter	
        </p>
      </div>
    </footer>

  </body>
</html>
